*{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizzing: border-box;
}
.main{
  width: 100vw;
  height: 100vh;
  background: blue;
  
}
.site{
  background: #fcfcfc;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center
}
.site p{
  font-size: 2rem;
  font-weight: normal;
  opacity: 0;
  transform: translateY(20px);
}
.img{
  width: 200px;
  padding: 0 10px;
  opacity: 0;
  transform: translateY(-20px)
}
.wiper-container{
/*   background: orange; */
  position: absolute;
  display: flex;
  top:0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 10;
}
.wiper-container .wiper{
  background: black;
  transform: scaleY(1);
/*   border: 2px solid white; */
  width: 100%;
}
.wiper-container .wiper:nth-child(4){
/*   background: orange; */
}

@media screen and (max-width: 650px){
  .site{
    flex-direction: column;
  }
}